@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap");

:root {
  --dark-purple: #210e45;
  --dark-yellow: #d39006;
  --nav-font-size: 2.2vmax;
}
* {
  font-family: "Fredoka", sans-serif;
}
/* UTILITY */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.relative-container {
  position: relative;
}

body {
  overflow: hidden;
}

/* NAVIGATION */
header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  max-width: 1380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.1rem;
  font-size: var(--nav-font-size);
  font-weight: 400;
  color: var(--dark-purple);
  margin: 0 auto;
  background-color: transparent;
}
nav > a {
  text-decoration: none;
  color: var(--dark-purple);
  transition: all 0.4s ease-in-out;
}
nav > a:hover {
  transform: scale(1.1);
}

.active-link-purple {
  border-bottom: 3px solid var(--dark-purple);
}
.active-link-yellow {
  border-bottom: 3px solid var(--dark-yellow);
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 700, "opsz" 64;
}
/* MAIN CONTAINER */

/* LANDING PAGE/Sections */
#work {
  background-color: var(--dark-yellow);
  transition: all 1s ease;
}
#play {
  background-color: var(--dark-purple);
  transition: all 1s ease;
}
/* TODO: fine tune image positioning */
#work > .mask {
  background-image: url(/assets/pexels-negative-space-97077.jpg);
  transition: all 1s ease;
}

#play > .mask {
  background-image: url(/assets/image-12.jpg);
  transition: all 1s ease;
}

.play-invisible {
  /* height: 0; */
  opacity: 0;
  transform: translateY(150vh);
}
.mask {
  font-weight: 500;
  font-size: 30vmin;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  user-select: none;
  transition: all 1s ease;
  height: auto;
}
.full-page {
  height: 100vh;
}
.half-page {
  height: 50vh;
}
.zero-page {
  height: 0px;
  opacity: 0;
}
/* Carousel */

#carousel {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  overflow-y: scroll;
  gap: 0.25rem;
  transition: all 1s ease;
}
#carousel div {
  width: 33%;
}
#carousel div img {
  width: 100%;
}

/* CONTACT FORM */
#contact {
  position: absolute;
  top: 10vh;
  left: 10vw;
  right: 10vw;
  height: 300px;
  background-color: black;
  transition: all 1s ease-in-out;
}
#contact > div {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
}

.invisible {
  transform: translateX(100vw);
}

/* MEDIA QUERIES */

@media (min-width: 576px) {
  nav {
    gap: 1rem;
  }
}
@media (min-width: 576px) {
  nav {
    gap: 1rem;
  }
}

@media (min-width: 1080px) {
  .mask {
    font-size: 35vmin;
  }
  nav {
    gap: 3rem;
    --nav-font-size: 2vmax;
  }
}
