@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap");

:root {
  --dark-purple: #210e45;
  --dark-yellow: #d39006;
  --nav-font-size: 2vmax;
}
* {
  font-family: "Fredoka", sans-serif;
  /* border: red solid 2px; */
}
/* .preload * {
  transition: none !important;
} */
/* UTILITY */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Prevent the type cursor from showing up on home page */
.prevent-type-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* body {
  overflow: hidden;
} */

/* NAVIGATION */

nav {
  position: absolute;
  top: 2%;
  right: 0;
  left: 0;
  max-width: 1380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.4rem;
  font-size: var(--nav-font-size);
  font-weight: 400;
  color: var(--dark-purple);
  margin: 0 auto;
  z-index: 2;
}
nav a {
  text-decoration: none;
  color: var(--dark-purple);
  transition: all 0.4s ease-in-out;
}
nav > a:hover {
  transform: scale(1.1);
}

.nav-link-hide {
  position: absolute;
  top: -100px;
  height: 0;
  width: 0;
}

.link-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease-in-out;
}
.link-container div {
  pointer-events: none;
  transition: all 0.9s ease-out;
  font-size: 125%;
}

.link-container > div.small-link {
  position: absolute;
  top: 80%;
  font-size: 50%;
}

/* CONTACT FORM */
#contact {
  position: absolute;
  top: 10vh;
  left: 10vw;
  right: 10vw;
  height: 300px;
  background-color: black;
  transition: all 1s ease-in-out;
}
#contact > div {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
  overflow: hidden;
}
/* This is for contact form */
.invisible {
  transform: translateX(110vw);
}
/* MAIN CONTAINER */
/* needed to prevent scrolling */
main {
  overflow: hidden;
  position: relative;
}

/* LANDING PAGE/Sections */
#code {
  background-color: var(--dark-yellow);
  transition: all 1s ease;
}
#play {
  background-color: var(--dark-purple);
  transition: all 1s ease;
}
/* TODO: fine tune image positioning */
#code > .mask {
  background-image: url(/assets/pexels-negative-space-97077.jpg);
  transition: all 1s ease;
}

#play > .mask {
  background-image: url(/assets/image-12.jpg);
  transition: all 1s ease;
}
/* set when play mask on main page is clicked */
.play-invisible {
  opacity: 0;
  /* transform: translateY(150vh); */
}
.mask {
  font-weight: 500;
  font-size: 30vmin;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  user-select: none;
  transition: all 1s ease;
  cursor: pointer;
}
.full-page {
  height: 100vh;
}
.half-page {
  height: 50vh;
}
.zero-page {
  height: 0px;
  opacity: 0;
}

/* code MAIN */
#code-main {
  transition: all 1s ease;
  color: var(--dark-purple);
  font-size: 1.2rem;
}

#code-main > p {
  width: 90%;
  transition: all 1s ease;
}
/* PLAY MAIN */
#play-main {
  overflow-y: scroll;
}

/* Carousel */

#carousel {
  margin: 0 auto;
}

#carousel li img {
  width: 90%;
  padding: 1rem 0 1rem 0;
}

/* MEDIA QUERIES */

@media (min-width: 576px) {
  nav {
    gap: 1rem;
  }
}
@media (min-width: 576px) {
  nav {
    gap: 1rem;
  }
}

@media (min-width: 1080px) {
  .mask {
    font-size: 35vmin;
  }
  /* nav {
    gap: 3rem;
    --nav-font-size: 2vmax;
  } */
}
