@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap");

:root {
  --dark-purple: #210e45;
  --dark-yellow: #d39006;
  --nav-font-size: 3vmax;
  --code-border-radius: 4px;
  --box-shadow-purple: rgba(33, 14, 69, 0.4);
  --button-transition: all 0.4s ease-in-out;
  --page-transition: all 0.5s ease-out;
  --mask-transition: all 0.7s ease-in;
}
* {
  font-family: "Fredoka", sans-serif;
  /* border: 1px solid red; */
}
body {
  overflow: hidden;
}
/* Used to stop transitions on site load, changed in javascript
after window.load */
.preload * {
  transition: none !important;
}
/* UTILITY */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* BUTTONS */
button {
  background-color: var(--dark-purple);
  color: var(--dark-yellow);
  font-size: 110%;
  padding: 1rem 0 1rem 0;
  border-radius: var(--code-border-radius);
  border-color: transparent;
  transition: var(--button-transition);
  width: 200px;
  cursor: pointer;
}

.btn-contact {
  background-color: var(--dark-yellow);
  color: var(--dark-purple);
}
button:hover,
.btn-contact:hover {
  transform: scale(1.1);
}

/* Prevent the type cursor from showing up on home page */
.prevent-type-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
/* reset ul padding */
ul {
  padding-inline-start: 0;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* FIXME: Fix navigation hovers */
/* NAVIGATION */

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 2rem;
  max-width: 1380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.4rem;
  font-size: var(--nav-font-size);
  font-weight: 400;
  color: var(--dark-purple);
  margin: 0 auto;
  z-index: 20;
}
nav a {
  text-decoration: none;
  color: var(--dark-purple);
  transition: var(--button-transition);
}
nav > a:hover {
  transform: scale(1.1);
}

.nav-link-hide {
  position: absolute;
  top: -150px;
  height: 0;
  width: 0;
}

.link-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.link-container div {
  pointer-events: none;
  font-size: 125%;
}

.link-container > div.small-link {
  position: absolute;
  top: 80%;
  font-size: 50%;
  opacity: 0.5;
}

/* CONTACT FORM */
#contact {
  position: absolute;
  top: 10vh;
  left: 10vw;
  right: 10vw;
  bottom: 30vh;
  border-radius: 4px;
  background-color: var(--dark-purple);
  transition: var(--page-transition);
  z-index: 10;
}
form[name="contact-form"] {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 80%;
}
form[name="contact-form"] h2 {
  color: var(--dark-yellow);
}
.form-group {
  width: 100%;
  padding: 1rem;
}
textarea {
  width: 80%;
  min-height: 100px;
  border-radius: 4px;
}

input[type="email"] {
  padding: 1rem;
  border-radius: 4px;
  width: 40%;
}

#contact > div {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  cursor: pointer;
  overflow: hidden;
}
/* This is for contact form */
.invisible {
  transform: translateX(110vw);
}
/* MAIN CONTAINER */
/* needed to prevent scrolling */
main {
  overflow: hidden;
  position: relative;
}

/* LANDING PAGE/Sections */
#code {
  background-color: var(--dark-yellow);
  transition: var(--page-transition);
}
#play {
  background-color: var(--dark-purple);
  transition: var(--page-transition);
}
/* TODO: fine tune image positioning */
#code > .mask {
  background-image: url(/assets/pexels-negative-space-97077.jpg);
  transition: var(--mask-transition);
}

#play > .mask {
  background-image: url(/assets/image-12.jpg);
  transition: var(--mask-transition);
}

.mask-invisible {
  opacity: 0;
  transform: translateY(-150vh);
}
.mask {
  font-weight: 500;
  font-size: 30vmin;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  transition: var(--button-transition);
  cursor: pointer;
  z-index: 5;
}
.full-page {
  height: 100vh;
}
.half-page {
  height: 50vh;
}
.zero-page {
  height: 0px;
  opacity: 0;
}

/* CODE SECTION */
.code-scroll {
  overflow-y: auto;
  padding-top: 4rem;
}
/* FIXME: scrolling over navbar*/

#code-main {
  transition: var(--button-transition);
  color: var(--dark-purple);
  font-size: 1.2rem;
}

/* TODO: scroll container for code main */
#code-main > p {
  width: 80%;
  border: 1px solid var(--dark-purple);
  padding: 1rem;
  border-radius: var(--code-border-radius);
  box-shadow: 0 3px 10px var(--box-shadow-purple);
}
.extra-space {
  height: 300px;
}

.contact-buttons-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

/* PLAY SECTION */
#play-main {
  width: 100vw;
  overflow-y: scroll;
}

/* Carousel */

#carousel {
  height: 80vh;
  margin: 0 auto;
}

#carousel li img {
  width: 90vw;
  padding: 4rem 0 4rem 0;
  margin: 0 auto;
  transition: var(--button-transition);
}
#carousel li img:active {
  width: 100vw;
  height: auto;
}

/* MEDIA QUERIES */

@media (min-width: 576px) {
  nav {
    gap: 3rem;
  }
  textarea {
    width: 100%;
    min-height: 100px;
    border-radius: 4px;
  }
}

@media (min-width: 992px) {
  nav {
    padding-top: 0.5rem;
    height: 4rem;
  }
  .mask {
    font-size: 35vmin;
  }
  #carousel li img {
    height: auto;
    width: 75vw;
  }
  #code-main > p {
    font-size: 1.4rem;
  }
}
@media (min-width: 1200px) {
  #carousel li img {
    height: auto;
    width: 70vw;
  }
  #code-main > p {
    font-size: 2rem;
  }
}

/* Proper scrolling on landscape screens under 992px */
@media (orientation: landscape) and (max-width: 992px) {
  ul {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  #play-main {
    overflow-y: hidden;
    overflow-x: scroll;
  }
  #carousel li img {
    height: 65vh;
    width: auto;
  }
}
